.main {
  position: relative;
}

.main__container {
  display: flex;
}

.main__text {
  max-width: 576px;
}

.main__image {
  position: absolute;
  top: 0;
  left: calc(50% + 50px);
}

.main__description {
  margin-bottom: 64px;
}

.main__btns {
  display: flex;
}

.main__start-btn {
  margin-right: 32px;
}
